header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

h1 a{
    font-family: 'Tektur', sans-serif;
    font-weight: 900;
    font-size: 90px;
    padding: 50px;
    text-decoration: none;
    color:  #6c21d6;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
    cursor: cell;
}
nav ul li a {
    text-decoration: none;
    font-size: 18px;
    padding: 40px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #d8bfda;
    border-radius: 5px;
}

/* Search Box Styling */
.search-container {
    display: flex;
    justify-content: center;
    margin: 60px auto;
}

.search-box {
    position: relative;
    width: 50%;
}

.search-box input {
    width: 100%;
    padding: 15px 10px 15px 15px; 
    font-size: 18px;
    border: 2px solid #333;
    border-radius: 5px;
    outline: none;
}

.search-box button {
    position: absolute;
    top: 50%;
    right: -6px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}

.search-box button img {
    width: 30px;
    height: 30px;
    pointer-events: none;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

/* Contact Form Styling */
.contact-form {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.contact-form h2 {
    text-align: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-weight: bold;
    margin-top: 10px;
}

.contact-form input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #333;
    border-radius: 5px;
}

.contact-form button {
    background-color: #2659B3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.contact-form button:hover {
    background-color: #A71ED4;
}

/* Lecturers Section */
.lecturers {
    text-align: center;
    margin: 40px auto;
}

.lecturer-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.lecturer {
    width: 200px;
    text-align: center;
}

.lecturer img {
    width: 100%;
    border-radius: 10px;
}
